<div class="container">
  <div class="form">
    <form #userPost="ngForm" (ngSubmit)="onSubmitReg(userPost.value)">
      <div class="form-group">
        <label for="" class="">Nombre de usuario</label>
        <input type="email" name="name" class="form-control" ngModel placeholder="email">
      </div>
      <div class="form-group">
        <label for="" class="">Correo electronico</label>
        <input type="email" name="email" class="form-control" ngModel placeholder="email">
      </div>
      <div class="form-group">
        <label for="" class="">Contraseña</label>
        <input type="password" name="pass" class="form-control" ngModel placeholder="pass">
      </div>
      <button type="submit" class="btn btn-info">Registrarme</button>
    </form>
    <a routerLink="/">¿Ya tienes cuenta? inicia sesión aquí.</a>
  </div>
</div>