<div class="container col">
  <div class="title text-center col">
    <h3>Identificador de numeros</h3>
    <p>¡Escribe un numero y el sistema intentará adivinar que numero es!</p>
  </div>
  <div class="btn-group">
    <div class="row">
      <button routerLink="/numbers" class="btn btn-primary col m-4">Ir al demo</button>
      <a href="https://www.tensorflow.org/api_docs">
        <button  class="btn btn-dark col m-4">Documentación de tensorflow</button>
      </a>
    </div>
  </div>
</div>
